@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-h1 {
    @apply text-[50px] font-bold font-mono uppercase tracking-wide cursor-pointer text-center;
    color: hsl(0, 0%, 100%); /* White text color */
    background: linear-gradient(
      to right,
      hsl(184, 64%, 26%) 0%,
      hsl(0, 0%, 100%) 10%,
      hsl(29, 100%, 51%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
  }

  .custom-h2 {
    @apply text-[40px] font-bold font-mono uppercase tracking-wide cursor-pointer;
    color: hsl(0, 0%, 100%); /* White text color */
    background: linear-gradient(
      to right,
      hsl(24, 85%, 19%) 0%,
      hsl(0, 0%, 100%) 10%,
      hsl(172, 91%, 48%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }

  .custom-h3 {
    @apply text-[30px] text-center font-bold font-mono uppercase tracking-wide cursor-pointer;
    color: hsl(0, 0%, 100%); /* White text color */
    background: linear-gradient(
      to right,
      hsl(24, 85%, 19%) 0%,
      hsl(0, 0%, 100%) 10%,
      hsl(172, 91%, 47%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s infinite linear;
  }

  /* Add a keyframes animation for the shine effect */
  @keyframes shine {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }

  @layer components {
    .custom-button {
      @apply text-black rounded border-none box-border cursor-pointer inline-block font-sans text-base font-bold leading-6 mx-0 min-h-[44px] min-w-[10px] outline-none overflow-hidden py-2 px-5 text-center w-full;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      background: linear-gradient(90deg, #ff7e5f, #feb47b);
      transition: background 0.3s ease;
    }

    .custom-button:hover {
      background: linear-gradient(90deg, #feb47b, #ff7e5f);
    }
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 600px;
    }
    100% {
      background-position: 600px;
    }
  }

  @media (max-width: 768px) {
    .custom-h1 {
      @apply text-[30px] text-center;
    }
    .custom-h2 {
      @apply text-[25px] text-center;
    }
    .custom-h3 {
      @apply text-[20px];
    }
    .custom-button {
      @apply text-sm py-2 px-4;
    }
  }

  @media (max-width: 480px) {
    .custom-h1 {
      @apply text-[20px] text-center;
    }
    .custom-h2 {
      @apply text-[18px] text-center;
    }
    .custom-h3 {
      @apply text-[16px] text-center;
    }
    .custom-button {
      @apply text-xs py-1 px-3;
    }
  }
}
